*.vcd
*.pdf
impl/
*.user
*.lock
logs/
target/
*.log
.stack-work/
*~

# Icarus/GCC Artifacts
*.out
*.o
*.vvp
*.vpi
vpi/usb/usbmodel

Gowin_V1.9.8.11_Education_linux.tar.gz
synth/gowin-ddr3-test/usbddr3.tcl
synth/sipeed-tang-primer-20k/usbcore.tcl
